{% extends "base.html" %}

{% block content %}
    <nav class="main-nav navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#body">
                        <img src="{{ theme_url }}/images/janitor-logo.png" />
                        <span>JANITOR</span>
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#janitor-nav" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <nav id="janitor-nav" class="navbar navbar-right navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#start">Get started</a></li>
                        <li><a href="#documentation">Documentation</a></li>
                        <li><a href="#integration">Integration</a></li>
                        <li><a href="http://github.com/juliangut/janitor"><i class="fa fa-github"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>

    <section class="banner">
        <div class="inner">
            <img src="{{ theme_url }}/images/janitor-logo.png"><br>
            <h1>JANITOR</h1>
            <div class="caption">
                Effortless maintenance management
            </div>

            <div class="slide-marker">
                Learn more<br>
                <a href="#introduction"><i class="fa fa-angle-double-down"></i></a>
            </div>
        </div>
    </section>

    <section id="introduction" class="introduction">
        <div class="container">
            <div class="row head">
                <div class="col-sm-12">
                    <h2>Introduction</h2>
                </div>
                <div class="col-sm-10 col-sm-push-1">
                    <p>Janitor is a ready to use PSR7 middleware that provides you with an easy configurable and extensible way to handle maintenance mode on your project, because maintenance handling goes beyond responding to the user with an HTTP 503 code and a simple message.</p>
                    <p>Set several conditions that will be checked to determine if the maintenance handler should be triggered.</p>
                    <p>This conditions are of two kinds, 'activation' conditions (name `watchers`) and conditions to bypass the normal execution (named `excluders`). Default watchers and excluders allows you to cover a wide range of situations so you can drop Janitor in and start in no time, but if needed it's very easy to create your own conditions.</p>
                    <p>Once Janitor has determine maintenance mode is active it let you use your handler to get a response ready for the user or you can let Janitor handle it all by itself (a nicely formatted 503 response).</p>
                </div>
            </div>
        </div>
    </section>

    <section id="start" class="start">
        <div class="container">
            <div class="row head">
                <div class="col-sm-12">
                    <h2>Get started</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h4>1. Install</h4>
                    <p>Use Composer and include Janitor in your project</p>
                </div>
                <div class="col-md-8">
                    <pre><code class="bash">composer require juliangut/janitor</code></pre>
                    <pre><code class="php">require 'vendor/autoloader.php';</code></pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>2. Watchers</h4>
                    <p>Define as many <i>watchers</i> as you need to identify the triggers of maintenance mode on your page</p>
                </div>
                <div class="col-md-8">
                    <pre><code class="php">$watchers = [
    new \Janitor\Watcher\File('/tmp/maintenance'),
    new \Janitor\Watcher\Environment('maintenance', 'ON'),
    new \Janitor\Watcher\Scheduled\Cron('0 0 * * 0', new \DateInterval('PT2H')),
];</code></pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>3. Excluders</h4>
                    <p>Add as many <i>excluders</i> as needed to determine conditions in which maintenance mode will be bypassed</p>
                </div>
                <div class="col-md-8">
                    <pre><code class="php">$excluders = [
    new \Janitor\Excluder\IP('127.0.0.1'),
    new \Janitor\Excluder\Path(['/maintenance', '/admin']),
    new \Janitor\Excluder\BasicAuth(['admin' => 'password'])
];</code></pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>4. Handler</h4>
                    <p>Define your custom maintenance mode handler</p>
                </div>
                <div class="col-md-8">
                    <pre><code class="php">$handler = function (\Psr\Http\Message\ServerRequestInterface $request, \Psr\Http\Message\ResponseInterface $response, \Janitor\Watcher $watcher) {
    return $response->withCode(503);
}</code></pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>5. Instantiate Janitor</h4>
                    <p>Create Janitor instance with your defined watchers, excluders and custom handler</p>
                </div>
                <div class="col-md-8">
                    <pre><code class="php">$janitor = new \Janitor\Janitor($watchers, $excluders, $handler);</code></pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>6. Middleware use</h4>
                    <p>Include Janitor as middleware in your project workflow as usual</p>
                </div>
                <div class="col-md-8">
                    <pre><code class="php">// Example with Zend Expressive
$app->pipe($janitor);</code></pre>
                </div>
            </div>
        </div>
    </section>

    <section id="documentation" class="documentation">
        <div class="container">
            <div class="row head">
                <div class="col-sm-12">
                    <h2>Documentation</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    <ul class="menu">
                        <li><a href="#watchers">Watchers</a></li>
                        <li><a href="#scheduled_watchers">Scheduled Watchers</a></li>
                        <li><a href="#excluders">Excluders</a></li>
                        <li><a href="#handlers">Handler</a></li>
                        <li><a href="#active_watcher">Active Watcher</a></li>
                        <li><a href="#service">Service</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <h3 id="watchers">Watchers</h3>
                    <p>Every possible condition that leads to maintenance mode activation is defined with a Janitor <i>watcher</i>. Define as many watchers as you need to cover all the possible scenarios that will trigger maintenance mode on your page.</p>
                    <p>There are two kinds of watchers, lets say a 'static' kind of watcher in which maintenance mode activation will be determied based on a condition check in real time, and 'scheduled' watchers in which maintenance mode will be determined by a given timeframe.</p>
                    <p>Watchers are checked in the order they are included so that when a watcher is determined to be active no other watcher will be checked. Set the more specific watchers first and the more general after.</p>

                    <h4>Manual watcher</h4>
                    <p>It's the simplest watcher possible. At creation time it is set to be active or not and so when the time to determine maintenance mode comes the value of the provider will be checked.</p>
                    <p>This watcher's best fit is in project with maintenance configuration variable that can be passed to the watcher.</p>
                    <pre><code class="php">$configuration = [
    // ...
    'maintenance' => true;
]

$manualWatcher = new \Janitor\Watcher\Manual($configuration['maintenance']);
$janitor->addWatcher($manualWatcher);</code></pre>

                    <h4>File watcher</h4>
                    <p>This watcher will check for the existance of a file in the filesystem to determine if maintenance mode is active.</p>
                    <p>With this watcher a file can be created at the begining of an automatic maintenance processess and removed at the end of it so that the file can be watched for.</p>
                    <pre><code class="php">touch(sys_get_temp_dir() . '/maintenance');

$janitor->addWatcher(new \Janitor\Watcher\File(sys_get_temp_dir() . '/maintenance'));</code></pre>

                    <h4>Environment watcher</h4>
                    <p>Similarly to file watcher environment watcher watches for the existance and value of an environment variable to determine maintenance mode.</p>
                    <p>An environment variable such as 'maintenance' can be set and destroyed while this watcher watches for it.</p>
                    <pre><code class="php">putenv('maintenance=On');

$janitor->addWatcher(new \Janitor\Watcher\Environment('maintenance', 'On'));</code></pre>

                    <h3 id="scheduled_watchers">Scheduled Watchers</h3>
                    <p>While normal 'static' watchers are OK for punctual situations or to be controlled by an external maintenance process, if periodical maintenance tasks are to be taken in the system then a scheduled watcher is a better fit.</p>
                    <p>With scheduled watchers a date/time (in the future) and a timeframe will be defined to set maintenance mode activation and extend it certain amount of time.</p>

                    <h4>Fixed scheduled watcher</h4>
                    <p>Quite similar to manual watcher, defines both start and end date/times for maintenance so that when the time comes and during the specified time window the page will be set on maintenance mode.</p>
                    <pre><code class="php">$janitor->addWatcher(new \Janitor\Watcher\Scheduled\Fixed(new \DateTime('2016/01/01 0:0:0'), new \DateTime('2016/01/01 1:0:0')));</code></pre>

                    <h4>Cron scheduled watcher</h4>
                    <p>Cron watcher lets you define periodical maintenance timeframes with <a href="https://en.wikipedia.org/wiki/Cron#CRON_expression">cron expression</a> syntax.</p>
                    <p>If you have periodical maintenance tasks, all occurring on the same moment every week, month, year, ... then this watcher is your best option. Define that same moment with a cron expression and a time interval and your page will be down for maintenance during your periodical processes.</p>
                    <pre><code class="php">$janitor->addWatcher(new \Janitor\Watcher\Scheduled\Cron('0 0 1 * *', new \DateInterval('PT2H')));</code></pre>

                    <h3 id="excluders">Excluders</h3>
                    <p>Once maintenance mode is determined to be active there is still a way to bypass it thanks to certain conditions defined by Janitor <i>Excluders</i></p>
                    <p>Excluders define conditions that if met will allow access to the page even if maintenance mode is active. Useful to grant you or your team access to the page after maintennace tasks have completed and before opening access again to check everything went smoothly.</p>
                    <p>As with watchers excluders are tested in the order they are included and when one is set to exclude mainenance mode the verification chain stops.</p>
                    <p>On the contraty of what happened with watchers, set general excluders first and the more specific after them.

                    <h4>IP excluder</h4>
                    <p>Set allowed IPs to be excluded from maintenance mode so that requests coming from those IPs will not be affected by maintenance mode and will access the page as normal.</p>
                    <pre><code class="php">$janitor->addExcluder(new \Janitor\Excluder\IP('127.0.0.1'));</code></pre>

                    <h4>Path excluder</h4>
                    <p>In the same way as IP excluder, path excluder will allow access to certain defined URL paths. Most normally you'll want to grant access to administration area or even maintenance information page even during maintenance processes are running.</p>
                    <pre><code class="php">$janitor->addExcluder(new \Janitor\Excluder\Path(['/maintenance', '/private']));</code></pre>

                    <h4>BasicAuth excluder</h4>
                    <p>Inspects Authorization request header to allow access only to certain users accessing with Basic Authorization.</p>
                    <pre><code class="php">$janitor->addExcluder(new \Janitor\Excluder\BasicAuth(['root' => 'secret']));</code></pre>

                    <h4>Header excluder</h4>
                    <p>Allows access only to those clients accessing with a specific request header's value. Not the most secure way to handle access actually.</p>
                    <pre><code class="php">$janitor->addExcluder(new \Janitor\Excluder\Header(['X-My-Header', 'access']));</code></pre>

                    <h3 id="handlers">Handler</h3>
                    <p>When maintenance mode is active then a handler will be triggered to cope with the response, Janitor allows you to define this handler providing your own callable. In case you don't provide a handler Janitor will use a basic handler that will prepare response object with a nicely formatted 503 based on request's Accept header.</p>
                    <pre><code class="php">$janitor->setHandler(function (\Psr\Http\Message\ServerRequestInterface $request, \Psr\Http\Message\ResponseInterface $response, \Janitor\Watcher $watcher) {
    $body = new \Zend\Diactoros\Stream('php://temp', 'r+');
    $body->write(sprintf('Maintenance period because of "%s"!', get_class($watcher)));

    return $response->withCode(503)->withBody($body);
});</code></pre>

                    <h4>Bundled Handlers</h4>
                    <h5>Render</h5>
                    <p>Sets basic response with 503 HTTP status header and compose a simple maintenance page which content depends on request Accept header.</p>
                    <p><i>This is the default handler in case you didn't define any.</i></p>
                    <pre><code class="php">$janitor->setHandler(new \Janitor\Handler\Render);</code></pre>

                    <h5>Redirect</h5>
                    <p>In the case you want to get users redirected to another page this handler sets HTTP 302 code redirection for you.</p>
                    <p><i>This handler fits like a charm with a path excluder for the maintenance page.</i></p>
                    <pre><code class="php">$janitor->setHandler(new \Janitor\Handler\Redirect('/maintenance'));</code></pre>

                    <h3 id="active_watcher">Active Watcher</h3>
                    <p>When maintenance mode is active but at the same time an excluder is applied and thus user accesses the page a new Attribute is added to the request object with currently active watcher. You can use this request attribute to inform accessing user that the page is actually under maintenance even though he/she can view it. Attribute default name is <i>active_watcher</i></p>
                    <pre><code class="php">$janitor->setAttributeName('activated_watcher');
// Down the execution path
$activatedWatcher = $request->getAttribute($janitor->getAttributeName());</code></pre>

                    <h3 id="service">Service</h3>
                    <p>Aside of aiding you with maintenance mode activation you can use Janitor as a service in your project so that you can access future maintenance periods if using scheduled watchers. Helpful to keep your users informed in an hypotetical maintenance timetable page.</p>
                    <pre><code>foreach ($janitor->getScheduledTimes(10) as $time) {
    echo sprintf('Maintenance from %s to %s', $time->getStart()->format('d/M/Y H:i:s'), $time->getEnd()->format('d/M/Y H:i:s'));
}</code></pre>
                </div>
            </div>
        </div>
    </section>

    <section id="integration" class="integration">
        <div class="container">
            <div class="row head">
                <div class="col-sm-12">
                    <h2>Usage examples</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    Usage on Janitor with several PSR7 middleware based frameworks is insanely easy, take a look at this examples.
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h3>Slim3</h3>
                    <pre><code class="php">use Janitor\Janitor;
use Slim\App;

$watchers = [];
$excluders = [];

$app = new App();

// Add middleware (using default Render handler)
$app->add(new Janitor($watchers, $excluders));

$app->run();</code></pre>
                </div>
                <div class="col-md-6">
                    <h3>Zend Expressive</h3>
                    <pre><code class="php">use Janitor\Handler\Redirect;
use Janitor\Janitor;
use Zend\Expresive\AppFactory;

$watchers = [];
$excluders = [];
$handler = new Redirect('/maintenance');

$app = AppFactory::create();

// Add middleware
$app->pipe(new Janitor($watchers, $excluders, $handler));

$app->run();</code></pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Symfony's HttpFoundation</h3>
                    <p>If using Symfony's HttpFoundation you can still add Janitor to your toolbelt, just as easy as using Symfony's <a href="https://github.com/symfony/psr-http-message-bridge">PSR HTTP message bridge</a></p>
                    <pre><code class="php">use Janitor\Janitor;
use Silex\Application;
use Symfony\Bridge\PsrHttpMessage\Factory\DiactorosFactory;
use Symfony\Bridge\PsrHttpMessage\Factory\HttpFoundationFactory;
use Symfony\Component\HttpFoundation\Request;
use Zend\Diactoros\Response;

$janitor = new Janitor();

$app = new Application;

$app->before(function (Request $request, Application $app) use ($janitor) {
    $response = $janitor(
        (new DiactorosFactory)->createRequest($request),
        new Response('php://temp'),
        function ($request, $response) {
            return $response;
        }
    );

    return (new HttpFoundationFactory)->createResponse($response);
});

$app->run();</code></pre>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <a href="https://packagist.org/packages/juliangut/janitor"><img alt="Latest Version" src="https://img.shields.io/packagist/vpre/juliangut/janitor.svg?style=flat-square"></a><br>
                    <a href="https://travis-ci.org/juliangut/janitor"><img alt="Build status" src="https://img.shields.io/travis/juliangut/janitor.svg?style=flat-square"></a>
                </div>

                <div class="col-xs-9 text-right">
                    Developed by <a href="{{ base_url }}">Julián Gutiérrez</a><br>
                    Check out the project at <a href="http://github.com/juliangut/janitor">Github</a><br>
                    Any error, improvement, question? File an <a href="http://github.com/juliangut/janitor/issues">issue</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    <script>
        (function() {
            var $navbar = $('#janitor-nav');
            $navbar.find('a').click(function() {
                if ($navbar.hasClass('collapsing') || $navbar.hasClass('in')) {
                    $('.navbar-toggle').trigger('click');
                }
            });
        })();
    </script>
{% endblock %}
