{% extends "base.html" %}

{% block content %}
    <nav class="main-nav navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#body">
                        <img src="{{ theme_url }}/images/janitor-logo.png" />
                        <span>JANITOR</span>
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#janitor-nav" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <nav id="janitor-nav" class="navbar navbar-right navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#start">Get started</a></li>
                        <li><a href="#documentation">Documentation</a></li>
                        <li><a href="#integration">Integration</a></li>
                        <li><a href="http://github.com/juliangut/janitor"><i class="fa fa-github"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>

    <section class="banner">
        <div class="inner">
            <img src="{{ theme_url }}/images/janitor-logo.png"><br>
            <h1>JANITOR</h1>
            <div class="caption">
                Effortless maintenance management
            </div>

            <div class="slide-marker">
                Learn more<br>
                <a href="#introduction"><i class="fa fa-angle-double-down"></i></a>
            </div>
        </div>
    </section>

    <section id="introduction" class="introduction">
        <div class="container">
            <div class="row head">
                <div class="col-sm-12">
                    <h2>Introduction</h2>
                </div>
                <div class="col-sm-10 col-sm-push-1">
                    <p>Janitor helps you with the task of controlling maintenance status on your page by prviding a decoupled easily configurable service.</p>
                    <p>By setting one or several conditions for maintenance mode activation and allowing you to handle the situation yourself when the time comes or leaving Janitor to do the heavy lifting, you have your web ready and covered for maintenance periods.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="start" class="start">
        <div class="container">
            <div class="row head">
                <div class="col-sm-12">
                    <h2>Get started</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h4>0. Install</h4>
                    <p>Use Composer and include it in your page</p>
                </div>
                <div class="col-md-8">
                    <pre><code class="bash">composer require juliangut/janitor</code></pre>
                    <pre><code class="php">require 'vendor/autoloader.php';</code></pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>1. Watchers</h4>
                    <p>Define as many <i>watchers</i> as you need to identify the triggers of maintenance mode on your page</p>
                </div>
                <div class="col-md-8">
                    <pre><code class="php">$watchers = [
    new \Janitor\Watcher\File('/tmp/maintenance'),
    new \Janitor\Watcher\Cron('0 0 * * 0', new \DateInterval('PT2H')),
];</code></pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>2. Excluders</h4>
                    <p>Add <i>excluders</i> to determine conditions in which maintenance mode will be bypassed</p>
                </div>
                <div class="col-md-8">
                    <pre><code class="php">$excluders = [
    new \Janitor\Excluder\IP('127.0.0.1'),
    new \Janitor\Excluder\Path(['/maintenance', '/admin']),
];</code></pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>3. Janitor creation</h4>
                    <p>Create a Janitor instance with your watchers and excluders</p>
                </div>
                <div class="col-md-8">
                    <pre><code class="php">$janitor = new \Janitor\Janitor($watchers, $excluders);</code></pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>4. Handle maintenance yourself</h4>
                    <p>Janitor will determine maintenance status and you will be able to handle the situation</p>
                </div>
                <div class="col-md-8">
                    <pre><code class="php">if ($janitor->inMaintenance() && !$janitor->isExcluded()) {
    $activeWatcher = $janitor->getActiveWatcher();

    // Handle maintenance mode
}</code></pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>5. Or let Janitor handle it for you</h4>
                    <p>Janitor can handle maintenance status based upon the defined <i>strategy</i></p>
                </div>
                <div class="col-md-8">
                    <pre><code class="php">// Set janitor strategy
$janitor->setStrategy(new \Janitor\Strategy\Render);

if ($janitor->handle()) {
    die; // Headers and content already sent
}</code></pre>
                </div>
            </div>
        </div>
    </section>

    <section id="documentation" class="documentation">
        <div class="container">
            <div class="row head">
                <div class="col-sm-12">
                    <h2>Documentation</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    <ul class="menu">
                        <li><a href="#watchers">Watchers</a></li>
                        <li><a href="#scheduled_watchers">Scheduled Watchers</a></li>
                        <li><a href="#excluders">Excluders</a></li>
                        <li><a href="#strategies">Strategies</a></li>
                        <li><a href="#service">Service</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <h3 id="watchers">Watchers</h3>
                    <p>Every possible condition that leads to maintenance mode activation is defined with a Janitor <i>watcher</i>. Define as many watchers as you need to cover all the possible scenarios that will trigger maintenance mode on your page.</p>
                    <p>There are two kinds of watchers, lets say a 'static' kind of watcher in which maintenance mode activation will be determied based on a condition check in real time, and 'scheduled' watchers in which maintenance mode will be determined by a given timeframe.</p>
                    <p>Watchers are checked in the order they are included so that when a watcher is determined to be active no other watcher will be checked. Set the more specific watchers first and the more general after.</p>

                    <h4>Manual watcher</h4>
                    <p>It's the simplest watcher possible. At creation time it is set to be active or not and so when the time to determine maintenance mode comes the value of the provider will be checked.</p>
                    <p>This watcher's best fit is in project with maintenance configuration variable that can be passed to the watcher.</p>
                    <pre><code class="php">$configuration = [
    // ...
    'maintenance' => true;
]

$manualWatcher = new \Janitor\Watcher\Manual($configuration['maintenance']);
$janitor->addWatcher($manualWatcher);</code></pre>

                    <h4>File watcher</h4>
                    <p>This watcher will check for the existance of a file in the filesystem to determine if maintenance mode is active.</p>
                    <p>With this watcher a file can be created at the begining of an automatic maintenance processess and removed at the end of it so that the file can be watched for.</p>
                    <pre><code class="php">touch(sys_get_temp_dir() . '/maintenance');

$fileWatcher = new \Janitor\Watcher\File(sys_get_temp_dir() . '/maintenance');
$janitor->addWatcher($fileWatcher);</code></pre>

                    <h4>Environment watcher</h4>
                    <p>Similarly to file watcher environment watcher watches for the existance and value of an environment variable to determine maintenance mode.</p>
                    <p>An environment variable such as 'maintenance' can be set and destroyed while this watcher watches for it.</p>
                    <pre><code class="php">putenv('maintenance=On');

$envWatcher = new \Janitor\Watcher\Environment('maintenance', 'On');
$janitor->addWatcher($envWatcher);</code></pre>

                    <h3 id="scheduled_watchers">Scheduled Watchers</h3>
                    <p>While normal 'static' watchers are OK for punctual situations or to be controlled by an external maintenance process, if periodical maintenance tasks are to be taken in the system then a scheduled watcher is a better fit.</p>
                    <p>With scheduled watchers a date/time (in the future) and a timeframe will be defined to set maintenance mode activation and extend it certain amount of time.</p>

                    <h4>Fixed scheduled watcher</h4>
                    <p>Quite similar to manual watcher, defines both start and end date/times for maintenance so that when the time comes and during the specified time window the page will be set on maintenance mode.</p>
                    <pre><code class="php">$fixedWatcher = new \Janitor\Watcher\Scheduled\Fixed(new \DateTime('2016/01/01 0:0:0'), new \DateTime('2016/01/01 1:0:0'));
$janitor->addWatcher($fixedWatcher);</code></pre>

                    <h4>Cron scheduled watcher</h4>
                    <p>Cron watcher lets you define periodical maintenance timeframes with <a href="https://en.wikipedia.org/wiki/Cron#CRON_expression">cron expression</a> syntax.</p>
                    <p>If you have periodical maintenance tasks, all occurring on the same moment every week, month, year, ... then this watcher is your best option. Define that same moment with a cron expression and a time interval and your page will be down for maintenance during your periodical processes.</p>
                    <pre><code class="php">$cronWatcher = new \Janitor\Watcher\Cron('0 0 1 * *', new \DateInterval('PT2H'));
$janitor->addWatcher($cronWatcher);</code></pre>

                    <h3 id="excluders">Excluders</h3>
                    <p>Once maintenance mode is determined to be active there is still a way to bypass it thanks to certain conditions defined by Janitor <i>Excluders</i></p>
                    <p>Excluders define conditions that if met will allow access to the page even if maintenance mode is active. Useful to grant you or your team access to the page after maintennace tasks have completed and before opening access again to check everything went smoothly.</p>
                    <p>As with watchers excluders are tested in the order they are included and when one is set to exclude mainenance mode the verification chain stops.</p>
                    <p>On the contraty of what happened with watchers, set general excluders first and the more specific after them.

                    <h4>IP excluder</h4>
                    <p>Set allowed IPs to be excluded from maintenance mode so that requests coming from those IPs will not be affected by maintenance mode and will access the page as normal.</p>
                    <pre><code class="php">$ipExcluder = new \Janitor\Excluder\IP('127.0.0.1');
$janitor->addExcluder($ipExcluder);</code></pre>

                    <h4>Path excluder</h4>
                    <p>In the same way as IP excluder, path excluder will allow access to certain defined URL paths. Most normally you'll want to grant access to administration area or even maintenance information page even during maintenance processes are running.</p>
                    <pre><code class="php">$pathExcluder = new \Janitor\Excluder\Path(['/maintenance', '/private']);
$janitor->addExcluder($pathExcluder);</code></pre>

                    <h4>Excluder Providers</h4>
                    <p>In order for excluders to identify excluding condition is met "providers" exist.</p>
                    <p>There are two providers bundled by default, <code>Janitor\Provider\IP\Basic</code> used in IP excluder to identify user's IP address, and <code>Janitor\Provider\Path\Basic</code> for Path excluder to determine current URL path.</p>
                    <p>Default providers are very simple and chances are you'll want to change them and use your own, to do this you have to implement either <code>Janitor\Provider\IP</code> or <code>Janitor\Provider\Path</code></p>

                    <h3 id="strategies">Strategies</h3>
                    <p>When maintenance mode is active you have two options to handle the situation.</p>
                    <p>First is handle maintenance mode yourself.</p>
                    <pre><code class="php">if ($janitor->inMaintenance() && !$janitor->isExcluded()) {
    $activeWatcher = $janitor->getActiveWatcher();

    // Handle maintenance mode
}</code></pre>
                    <p>Or you can allow Janitor handle it for you. Here is where strategies come into action allowing you to configure how Janitor will take care of maintenance mode.</p>
                    <p><i>Be aware that provided Janitor strategies will output HTTP headers and content to the browser.</i></p>
                    <pre><code class="php">if ($janitor->handle()) {
    die; // Headers and content already sent
}</code></pre>

                    <h4>Render strategy</h4>
                    <p>Render strategy sets basic HTTP headers and compose a simple maintenance page for you.</p>
                    <p><i>This is the default strategy in case you didn't define any.</i></p>
                    <pre><code class="php">$janitor->setStrategy(new \Janitor\Strategy\Render);</code></pre>

                    <h4>Redirect strategy</h4>
                    <p>In the case you want to get users redirected to another page in case the maintenance mode is active this strategy sets HTTP redirection for you.</p>
                    <p><i>This strategy fits like a charm with a path excluder for the maintenance page.</i></p>
                    <pre><code class="php">$janitor->setStrategy(new \Janitor\Strategy\Redirect('http://example.com/maintenance'));</code></pre>

                    <h4>Custom strategy</h4>
                    <p>You can provide your own strategy whichever it is to configure Janitor to handle maintenance mode, you only have to implement <code>Janitor\Strategy</code> interface for it.</p>
                    <pre><code class="php">class MyStrategy implements \Janitor\Strategy {
    public function handle(\Janitor\Watcher $watcher)
    {
        // Handle maintenance mode as you please
    }
}</code></pre>
                    <pre><code>// On Janitor creation
$janitor = new \Janitor\Janitor($watchers, $excluders, new \MyStrategy);

// Or using a setter
$janitor->setStrategy(new \MyStrategy);</code></pre>

                    <h3 id="service">Service</h3>
                    <p>Aside of aiding you with maintenance mode activation you can register Janitor as a service in your project so that you can access future maintenance periods, helpful to keep your users informed.</p>
                    <pre><code>foreach ($janitor->getScheduledTimes() as $time) {
    echo 'Maintenance from ' . $time->getStart()->format('d/M/Y H:i:s') . ' to ' . $time->getEnd()->format('d/M/Y H:i:s');
}</code></pre>
                </div>
            </div>
        </div>
    </section>

    <section id="integration" class="integration">
        <div class="container">
            <div class="row head">
                <div class="col-sm-12">
                    <h2>Integration</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    Integration of Janitor with other libraries or frameworks is very easy. Take a look at this two examples.
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h3>Slim3</h3>
                    <pre><code class="php">use Janitor\Janitor;
use Janitor\ScheduledWatcher;
use Psr\Http\Message\RequestInterface;
use Psr\Http\Message\ResponseInterface;
use Slim\Http\Body;

// Initialize Janitor with watchers and excluders
$janitor = new Janitor($watchers, $excluders);

// Add middleware
$app->add(function(RequestInterface $request, ResponseInterface $response, callable $next) use ($janitor) {
    if ($janitor->inMaintenance() && !$janitor->isExcluded()) {
        $watcher = $janitor->getActiveWatcher();

        // Handle maintenance mode
        $message = 'Maintenance mode is active';
        if ($watcher instanceof ScheduledWatcher) {
            $message = 'Maintenance mode is active until' . $watcher->getEnd()->format('Y/m/d H:i:s');
        }

        $body = new Body;
        $body->write($message);

        return $response->withStatus(503)->withBody($body);
    }

    return $next($request, $response);
});</code></pre>
                </div>
                <div class="col-md-6">
                    <h3>StackPHP</h3>
                    <pre><code class="php">use Janitor\Janitor;
use Janitor\ScheduledWatcher;
use Symfony\Component\HttpKernel\HttpKernelInterface;
use Symfony\Component\HttpFoundation\Request;
use Symfony\Component\HttpFoundation\Response;

class Maintenance implements HttpKernelInterface
{
    private $app;
    private $janitor;

    public function __construct(HttpKernelInterface $app, Janitor $janitor)
    {
        $this->app = $app;
        $this->janitor = $janitor;
    }

    public function handle(Request $request, $type = HttpKernelInterface::MASTER_REQUEST, $catch = true)
    {
        if ($this->janitor->inMaintenance() && !$this->janitor->isExcluded()) {
            $watcher = $this->janitor->getActiveWatcher();

            // Handle maintenance mode
            $message = 'Maintenance mode is active';
            if ($watcher instanceof ScheduledWatcher) {
                $message = 'Maintenance mode is active until' . $watcher->getEnd()->format('Y/m/d H:i:s');
            }

            return new Response($message, 503);
        }

        return $this->app->handle($request, $type, $catch);
    }
}

// Initialize Janitor with watchers and excluders
$janitor = new Janitor($watchers, $excluders);

$stack = (new \Stack\Builder())
    ->push('\Maintenance', $janitor);

$app = $stack->resolve($app);</code></pre>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <a href="https://packagist.org/packages/juliangut/janitor"><img alt="Latest Version" src="https://img.shields.io/packagist/vpre/juliangut/janitor.svg?style=flat-square"></a><br>
                    <a href="https://travis-ci.org/juliangut/janitor"><img alt="Build status" src="https://img.shields.io/travis/juliangut/janitor.svg?style=flat-square"></a>
                </div>

                <div class="col-xs-9 text-right">
                    Developed by <a href="{{ base_url }}">Julián Gutiérrez</a><br>
                    Check out the project at <a href="http://github.com/juliangut/janitor">Github</a><br>
                    Any error, improvement, question? File an <a href="http://github.com/juliangut/janitor/issues">issue</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    <script>
        (function() {
            var $navbar = $('#janitor-nav');
            $navbar.find('a').click(function() {
                if ($navbar.hasClass('collapsing') || $navbar.hasClass('in')) {
                    $('.navbar-toggle').trigger('click');
                }
            });
        })();
    </script>
{% endblock %}
