{% extends "base.html" %}

{% block content %}
    <nav id="nav-main" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% if info.template != 'index' %}{{ base_url }}{% else %}#body{% endif %}">
                        <img class="color" src="{{ theme_url }}/images/juliangut-logo-color.svg" />
                        <img class="mono" src="{{ theme_url }}/images/juliangut-logo-mono.svg" />
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <nav id="navbar" class="navbar navbar-collapse collapse">
                    <ul id="menu-home" class="nav navbar-nav">
                        {% if info.template != 'index' %}
                        <li><a href="{{ base_url }}#_about">About</a></li>
                        <li><a href="{{ base_url }}#_expertise">Expertise</a></li>
                        <li><a href="{{ base_url }}#_toolbox">Toolbox</a></li>
                        <li><a href="{{ base_url }}#_projects">Projects</a></li>
                        <li><a href="{{ base_url }}#_contact">Contact</a></li>
                        {% else %}
                        <li><a href="#about">About</a></li>
                        <li><a href="#expertise">Expertise</a></li>
                        <li><a href="#toolbox">Toolbox</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#contact">Contact</a></li>
                        {% endif %}
                        <li><a href="{{ base_url }}/blog">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>

    {% block main %}{% endblock %}

    <footer>
        <div class="container">
            <div class="row">
                    <div class="col-xs-12 col-sm-6">2016 Julián Gutiérrez</div>
                    <div class="col-xs-12 col-sm-6 text-right">
                        <div class="social">
                            <a href="https://github.com/juliangut" target="_blank"><i class="fa fa-github-square"></i></a>
                            <a href="https://www.linkedin.com/pub/juli%C3%A1n-guti%C3%A9rrez-tejada/2b/6b9/291" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                            <a href="{{ base_url }}/feed"><i class="fa fa-rss-square"></i></a>
                        </div>
                    </div>
                </div>
        </div>
    </footer>

    <a id="go-top" href="#body" class="scroll-to"><i class="fa fa-chevron-up"></i></a>
{% endblock %}
